
# When doing developement, you will need a Google Maps API key.
#
# To get one, follow this link, follow the directions and press "Create" at the end:
#
# https://console.developers.google.com/flows/enableapi?apiid=maps_android_backend&keyType=CLIENT_SIDE_ANDROID&r=DB:9A:78:70:65:57:05:E5:FF:A3:FA:2D:F4:62:10:F8:C7:87:76:61%3Bcom.nekonekomap
#
# Alternatively, follow the directions here:
# https://developers.google.com/maps/documentation/android/start#get-key
#
# You can also ask me for a developement key to use.
#
# They keys you have created can be viewed on the following site:
#
# https://console.developers.google.com/
#
# Once you have your key (it starts with "AIza"), replace the "your-key-here"
# string in this file.
GoogleMapKeyDebug="your-key-here"
GoogleMapKeyRelease="your-key-here"
